body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  font-family: 'Roboto', sans-serif;
}

.score {
  position: absolute;
  color: white;
  left: calc( 100% / 2 - 4px);
  top: 6px;
}

.snakeField{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}