body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  font-family: 'Roboto', sans-serif;
}
.score {
  position: absolute;
  color: white;
  left: calc( 100% / 2 - 4px);
  top: 6px;
}
.snakeField{
  position: relative;
}